<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Book Store</title>
</head>

<body>

    <div id="templatemo_container">

        <div id="templatemo_menu">
            <ul>
                <li><a href="{{ url_for('site.home') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('site.profile') }}">Add & View Book</li>
                
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.signin') }}">Sign In</a></li>
                <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div> <!-- end of menu -->

        {% block content %}
        <!-- other content lives here -->
        {% endblock content %}

        <div id="templatemo_footer">

            <a href="#">Home</a> | <a href="#">Search</a> | <a href="#">Books</a> | <a href="#">New Releases</a> | <a
                href="#">FAQs</a> | <a href="#">Contact Us</a><br />
            Copyright © 2024 <a href="#"><strong>ėBʘʘĶ (⊙_⊙;)</strong></a>
            <!-- Credit: www.templatemo.com -->
        </div>
    </div>
    <!-- end of footer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>

</html>